{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 mb-4 left">
            <div class="card-body">
                <h2>
                    If you want to collaborate on crafting an amazing experience for people - you are welcome to contact me.
                </h2>
                <p>
                    I am available for freelance projects and full-time employment.
                </p>
                <br>
                <h1>{{ author.name }}</h1>
                <p>{{ author.street }}</p>
                <p>{{ author.postcode }} {{ author.city }}</p>
                <br>
                <p>Mail: <a href="mailto:{{ author.mail }}">{{ author.mail }}</a> </p>
                <p>mobile: {{ author.phone }}</p>
                <br>
                <!-- <a href="/legal">Legal Disclaimer</a> -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}