{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 mb-4 left">
            <div class="card-body">
                <h2>
                    If you want to collaborate on crafting an amazing experience for people - you are welcome to contact me.
                </h2>
                <p>
                    I am available for freelance projects and full-time employment.
                </p>
                <br>
                <h1>Martin Schlander</h1>
                <p>Walchstadter Str. 4a</p>
                <p>82266 Inning</p>
                <br>
                <p>Mail: <a href="mailto:martin.schlander@hotmail.com">martin.schlander@hotmail.com</a> </p>
                <p>mobile: {{ contact.phone }}</p>
                <br>
                <!-- <a href="/legal">Legal Disclaimer</a> -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}