{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 mb-4 left">
            <div class="card-body">
                <h1 class="text-center">Impressum</h1>
                <br>
                <div class="text-center">
                    <h2>Verantwortlicher:</h2>
                    <h4>Martin Schlander</h4>
                    <a href="mailto:martin.schlander@hotmail.com">martin.schlander@hotmail.com</a>
                    <p>mobile: +49 175 833 630 4</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}