{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 mb-4 left">
            <div class="card-body">
                <h1 class="text-center">Impressum</h1>
                <br>
                <div class="text-center">
                    <h2>Person in charge:</h2>
                    <h4>{{ author.name }}</h4>
                    <a href="mailto:{{ author.mail }}">{{ author.mail }}</a>
                    <p>mobile: {{ author.phone }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}