{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 mb-4 left">
            <div class="card-body">
                <h1>{{ author.hook }}</h1>
                <p>{{ author.description }}</p>
                <p>{{ author.history }}
                    <a href="/contact">{{ author.call_to_action }}</a>
                </p>
            </div>
            <br>
            {% for project in recent_projects %}
            <div class="card mb-4">
                <div class="card body">
                    <img class="card-img-top" src="{% static project.image %}">
                    <h2 class="card-title">{{ project.title }}</h2>
                    <p class="card-text text-muted h6"> {{ project.publication_date }} </p>
                    <p class="card-text">{{ project.summary|slice:":200" }}</p>
                    <a href="{% url 'projects_detail' project.pk %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
            <div class="card-body">
                <p>TODO: add latest Blog Post</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}