{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 mb-4 left">
            <div class="card-body">
                <h1>{{ author.hook }}</h1>
                <p>{{ author.description }}</p>
                <p>{{ author.history }}
                    <a href="/contact">{{ author.call_to_action }}</a>
                </p>
            </div>
            <br>
            <div class="card-body">
                <p>TODO: add latest 4 Projects</p>
            </div>
            <div class="card-body">
                <p>TODO: add latest Blog Post</p>
            </div>

        </div>
    </div>
</div>

{% endblock content %}