{% extends "base.html" %}
{% load static %}

{% block site-title %}
Projects of {{ author.name }}
{% endblock site-title %}

{% block content %}
<style>
    .card-img {
        filter: brightness(60%);
        width: auto;
        max-height: 380px;
    }
    .white-text {
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }
    .card {
        max-height: 380px;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Project Entries Column -->
        <div class="col-md-12 mt-3 left">
            <div class="row">
                {% for project in projects %}
                <div class="card mr-3 mb-4 col-lg-4 col-sm-12">
                    <img class="card-img" src="{% static project.image %}">
                    <div class="card-img-overlay">
                        <h2 class="card-title white-text">{{ project.title }}</h2>
                        <p class="card-text white-text text-muted h6"> {{ project.publication_date}} </p>
                        <p class="card-text white-text">{{ project.summary|slice:":230" }}</p>
                        <a href="{% url 'projects_detail' project.slug %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}